@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




:root {
  --red-color: #D62511;
	--green-color: #00812E;
  --black-color: #272727;
  --primary-color: #00812E;
  --secondary-color: #00c16e;
  --font-color: #707070;
  --bg-color: #fff;
  --heading-color: #404044;
  --footer-color: #f7f7f7;
  --footer-cpy-color: #040a17;
  --border-radius: 6px;
  --border-radius-full: 15px;
  --border-color-light: #eee;
  --iframe-filter: grayscale(0%);
  --bg-grey: #f9f9f9;
  --bg-light: #fbfbfb;
  --bg-dark-color: #fff;
  --disable-color: #d8d6d6;
  --box-shadow-color: rgb(0 0 0 / 10%);
  --border-color: #eee
  --heading-color-2: #fff;
  --search-shadow: rgb(0 0 0 / 5%);
  --box-shadow-blog: rgb(0 0 0 / 7%);
  --bg-layer-color: rgb(0 0 0 / 0%);
  --bg-layer-color-2: rgb(0 0 0 / 44%);
  --box-shadow-map: rgb(0 0 0 / 6%);
  --box-shadow-color-2: rgb(0 0 0 / 8%);
  --box-shadow-color-3: rgb(0 0 0 / 41%);
}

.noscroll {
  overflow: hidden;
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}

body,
html {
  margin: 0;
  padding: 0;
  background: var(--bg-color);
  color: var(--font-color);
  font-family: 'Poppins', sans-serif;
}

body a,
button,
.btn {
  cursor: pointer !important;
}

.clear {
  clear: both;
}

.img-responsive {
  max-width: 100%;
  display: block;
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.d-grid {
  display: grid;
}

.align-self {
  align-self: center;
}

.align-end {
  align-self: end;
}

button,
input,
select,
label,
li,
span {
  -webkit-appearance: none;
  outline: none;
}

a,
a:hover,
button,
button:hover {
  text-decoration: none;
  transition: .5s all;
  -moz-transition: .5s all;
}

iframe {
  border: none;
  display: block;
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: var(--heading-color);
  font-family: 'Poppins', sans-serif;
}

p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  color: var(--font-color);
  font-family: 'Montserrat', sans-serif;
}

li {
  list-style-type: none;
}

p.white {
  color: #eee;
}

.align-center {
  align-self: center;
}

.noscroll {
  min-height: 100vh;
  overflow: hidden;
}

/*-- container --*/
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

/*-- //container --*/

/* font awesome css */
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* //font awesome css */


/* top header */
.w3l-top-header {
  padding: 10px 0px;
  background: #272727;
  border-bottom: 1px solid #363636;
}

.w3l-top-header .top-headers li a,
.w3l-top-header .top-headers li {
  color: white;
  font-size: 13px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

.w3l-top-header .top-headers li a:hover {
  color: #fff;
}

.w3l-top-header .top-headers li i {
  margin-right: 8px;
  color: var(--green-color);
}

.w3l-top-header .top-headers li {
  display: inline-block;
  margin-right: 2em;
}


@media only screen and (max-width: 991px) {
  .w3l-top-header .top-headers li {
    margin-right: 1em;
  }
}

@media only screen and (max-width: 780px) {
  .w3l-top-header .top-headers li {
    margin-right: 1em;
  }
}

@media only screen and (max-width: 680px) {
  .top-content-w3ls {
    display: block !important;
  }

  .top-headers-2 {
    margin-top: 4px;
  }

  .top-headers {
    text-align: center;
  }

  .w3l-top-header {
    padding: 8px 0px;
  }
}

@media only screen and (max-width:390px) {
  .w3l-top-header .top-headers li {
    margin-right: .5em;
  }
}

@media only screen and (max-width:380px) {
  .w3l-top-header .top-headers li i {
    margin-right: 4px;
  }
}

/* //top header */


/* header */
/* navigation styling */
.navbar .navbar-brand,
a.logo {
  margin: 0;
  padding: 0;
  font-size: 28px;
  color: var(--heading-color);
  font-weight: 600;
  position: relative;
}

.navbar-brand img{
  height: 45px;
}

@media screen and (max-width: 576px) {
  .navbar-brand img{
    height: 35px;
  }
}

.nav-fixed a.navbar-brand {
  color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-item {
  padding: 0 7px;
  transition: all 0.5s ease;
  position: relative;
}

.navbar-expand-lg .navbar-nav .nav-item.active .nav-link,
.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: var(--red-color);
}

.navbar-expand-lg .navbar-nav .nav-item button{
  padding-left: 35px;
  padding-right: 35px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 18px 7px;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--black-color);
}

a.dropdown-item {
  font-size: 16px;
  color: var(--font-color);
  padding: 5px 24px;
  font-weight: 400;
  text-transform: uppercase;
}

a.dropdown-item:hover {
  color: var(--primary-color);
  background: none;
}

a.dropdown-item.active {
  background: transparent;
  color: var(--red-color);
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  transform: translateX(-50px);
  background: var(--bg-color);
  border: 1px solid var(--border-color);
  box-shadow: rgb(12 12 12 / 6%) 0px 1px 20px 0px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu:before {
  content: '';
  width: 14px;
  height: 14px;
  background: var(--bg-color);
  border: 1px solid var(--border-color);
  display: block;
  border-right: none;
  border-bottom: none;
  transform: translateX(-50%) rotateZ(45deg);
  position: absolute;
  top: -7px;
  left: 30%;
  z-index: 1001;
}

header {
  position: sticky !important;
  padding: 0px;
  transition: all 0.4s ease 0s;
  display: grid;
  align-items: center;
  height: 5rem;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
}

header.nav-fixed {
  padding: 0px;
  border-bottom: none;
  z-index: 9 !important;
  background: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
}

header.nav-fixed nav.navbar.navbar-expand-lg.stroke {
  box-shadow: none;
  border-radius: 0px;
  padding: 0;
}

.navbar-nav .show>,
.navbar-nav .nav-link.show {
  color: #7C6A6A;
}

nav ul li {
  display: inline-block;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

nav ul li a:hover {
  color: #fff;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  min-width: 12rem;
  padding: 1rem 0;
}

.nav-fixed .navbar-expand-lg .navbar-nav .nav-link {
  color: #aab2b9;
}

.nav-fixed .navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #fff;
}

.nav-fixed .navbar-expand-lg .navbar-nav .nav-item.active .nav-link,
.nav-fixed .navbar-expand-lg .navbar-nav .nav-link:hover {
  color: var(--red-color);
}


@media only screen and (max-width: 1080px) {
  .navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 4px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 6px 6px;
    font-size: 15px;
  }
}

@media only screen and (max-width: 991px) {

  .navbar-toggler {
    border: 0 none;
    font-size: 24px;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }

  .navbar-nav {
    -webkit-animation-name: none;
    animation-name: none;
    float: left;
    text-align: center;
    width: 100%;
    background: var(--bg-color);
    padding: 20px;
    margin-top: 16px;
    box-shadow: 0 6px 19px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
  }

  .navbar-nav:last-child {
    border: 1px solid var(--border-color);
  }

  .navbar-expand-lg .navbar-nav .nav-item {
    -webkit-animation-name: none;
    animation-name: none;
    padding: 8px 0;
  }

  .navbar-nav .dropdown-menu {
    text-align: center;
  }

  .navbar-nav .dropdown-menu .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .navbar-expand-lg .navbar-nav .nav-item .nav-link.active::before {
    bottom: 0;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    display: inline-block;
    padding: 0;
    font-size: 16px;
    text-align: center;
  }

  .navbar-expand-lg .navbar-nav .dropdown-menu {
    display: none;
  }

  header.nav-fixed {
    height: auto;
    padding: 7px 0;
    position: fixed !important;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    display: block;
    color: var(--black-color);
  }

  .navbar-toggler-icon {
    background-image: none;
    padding: 0;
    width: 34px;
    height: 34px;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
  }

  .navbar-toggler-icon.fa {
    font-size: 1.5rem;
    line-height: 1.2em;
    color: var(--black-color);
    line-height: 34px;
  }

  .navbar-toggler {
    padding: 0rem 0rem !important;
  }

  .navbar-expand-lg .navbar-nav .nav-item.active .nav-link,
  .navbar-expand-lg .navbar-nav .nav-link:hover {
    color: var(--red-color);
  }

  button.navbar-toggler .icon-close {
    display: block;
  }

  button.navbar-toggler .icon-expand {
    display: none;
  }

  button.navbar-toggler.collapsed .icon-close {
    display: none;
  }

  button.navbar-toggler.collapsed .icon-expand {
    display: block;
  }

  .cont-ser-position {
    position: absolute;
    right: 50px;
    top: 12px;
  }

  .navbar {
    padding: 0;
  }

  header {
    height: auto;
    padding: 10px 0;
  }

  header.nav-fixed nav.navbar.navbar-expand-lg.stroke {
    padding: 0;
  }

  .navbar-collapse {
    max-height: calc(100vh - 80px);
    overflow-y: scroll;
  }

  .nav-fixed .navbar-expand-lg .navbar-nav .nav-link {
    color: var(--heading-color);
  }

  .nav-fixed .navbar-expand-lg .navbar-nav .nav-item.active .nav-link,
  .nav-fixed .navbar-expand-lg .navbar-nav .nav-link:hover {
    color: var(--primary-color);
  }
}

@media only screen and (max-width: 480px) {
  .cont-ser-position {
    right: 45px;
    top: 10px;
  }

}

@media only screen and (max-width: 340px) {
  .navbar .navbar-brand,
  a.logo {
    font-size: 24px;
  }

  .navbar .navbar-brand span,
  a.logo span {
    font-size: 36px;
  }

  a.navbar-brand:before,
  a.logo:before {
    width: 24px;
    top: 5px;
    left: 40px;
  }
  .cont-ser-position {
    top: 8px;
  }
}

/* //navigation styling */


.btn-style {
  padding: 0.6rem 0.8rem !important;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  transition: 0.3s ease-in;
  border-radius: 6px;
}

.transparent-btn {
  color: #fff;
  border: 1px solid #dadada;
  background: rgba(255, 255, 255, 0.15);
}

.transparent-btn:hover {
  color: var(--heading-color);
  background: var(--bg-color);
  border: 1px solid var(--bg-color);
}

.title-heading-w3 {
  max-width: 700px;
}

.w3l-title-main,
.w3l-title-main.two {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--heading-color);
}

.w3l-title-breadcrumb {
  font-size: 48px;
  line-height: 58px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
}

@media (max-width: 768px) {
  .w3l-title-breadcrumb {
    font-size: 42px;
    line-height: 52px;
  }
}
@media (max-width: 480px) {
  .w3l-title-breadcrumb {
    font-size: 38px;
    line-height: 48px;
  }
}
@media (max-width: 375px) {
  .w3l-title-breadcrumb {
    font-size: 32px;
    line-height: 42px;
  }
}

.w3l-title-main span.thin {
  font-weight: 300;
  font-size: 38px;
  line-height: 48px;
  color: var(--heading-color);
}

.w3sub-text {
  font-size: 26px;
  line-height: 36px;
  font-weight: 600;
  text-transform: capitalize;
}

.w3l-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  font-family: 'Montserrat', sans-serif;
}

.w3l-title-main.two {
  color: #fff;
}

.w3l-title-small {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
  line-height: 28px;
  color: var(--font-color);
  position: relative;
  letter-spacing: 1px;
}

a.read {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .02em;
  color: var(--heading-color);
  opacity: .8;
}

a.read:hover {
  color: var(--primary-color);
}

a.read span.fa,
a.read span.fas {
  font-size: 15px;
  transition: 0.3s ease-in;
  font-weight: 700;
  vertical-align: 0px;
}

a.read:hover span.fa,
a.read:hover span.fas {
  transform: translateX(4px);
  transition: 0.3s ease-in;
}

@media (max-width: 1080px) {
  .w3l-title-main {
    font-size: 32px !important;
    line-height: 40px;
  }
}


@media (max-width: 568px) {
  .w3l-title-main {
    font-size: 30px !important;
    line-height: 38px;
  }

  .btn-style {
    padding: 16px 30px;
  }
}

@media (max-width:480px) {
  .w3l-title-main {
    font-size: 26px !important;
    line-height: 32px;
  }

  .btn-style {
    padding: 14px 28px;
  }
}

@media (max-width: 375px) {
  .w3l-title-main {
    font-size: 24px !important;
    line-height: 30px;
  }

  p {
    font-size: 16px;
    line-height: 26px;
  }

  .w3l-title-main {
    font-size: 24px !important;
    line-height: 34px;
  }
}



/* preloader */

/* #main-body{
  display: none;
} */
.loader-body{
  height: 100vh;
  width: 100%;
  background-color: var(--black-color);
  position: relative;
}
.loader-body h3{
  top: 48%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -100%);
  font-size: 50px;
  font-weight: 500;
  text-align: center;
  color: white;
}

.progress-loader {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.progress-loader {
  width: 250px;
  background: rgb(0 0 0 / 60%)  ;
  height: 7px;
  border-radius: 0px;
}

.progress {
  content: '';
  width: 250px;
  height: 7px;
  border-radius: 0px;
  background: var(--green-color);
  transition: 0.5s;
  animation: loading1274 3s ease;
}

@keyframes loading1274 {
  0% {
    width: 0%;
  }

  10% {
    width: 10%;
  }

  50% {
    width: 40%;
  }

  60% {
    width: 60%;
  }

  100% {
    width: 100%;
  }
}

/* preloader */


/*-- banner --*/

.c-item {
  height: 540px;
}

.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.28);
}

.carousel-caption h3{
  color: white;
  font-weight: 600;
  font-size: 3.7em;
  line-height: 80px;
}

.carousel-caption p{
  color: white;
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 568px) {
  .carousel-caption h3{
    margin-top: 0em;
    font-weight: 600;
    font-size: 3em;
    line-height: 55px;
  }
  .carousel-caption p{
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
  }
  .c-item {
    height: 625px;
  }
}

@media (max-width: 415px) {
  .w3l-banner h3 {
    font-size: 37px;
    line-height: 45px;
  }
  .c-item {
    height: 570px;
  }
}

/* 3grids section */
.about-single {
  padding: 40px;
}

.about-content h5 a {
  font-weight: 600;
  color: var(--heading-color);
  font-size: 22px;
}

.about-content h5 a:hover {
  color: var(--primary-color);
}
.about-single:hover h5 a {
  color: var(--primary-color);
}

.about-icon i {
  font-size: 40px;
  color: var(--primary-color);
}

.about-section .button {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 15px 25px;
  border-radius: 6px;
  border: none;
  background: var(--green-color);
  color: white;
}

.about-section .button-text {
  transform: translateX(15px);
  font-size: 1.2em;
  font-weight: 500;
  transition-duration: 0.3s;
}

.about-section .button p{
  color: white;
}

.about-section .iconer {
  transform: translateY(35px);
  transition-duration: 0.3s;
}

.about-section .button:hover .button-text {
  transform: translateX(0px);
}

.about-section .button:hover .iconer {
  transform: translateY(0px);
}

@media (max-width: 568px) {
  .about-content h5 a {
    font-size: 20px;
  }
  .about-icon i {
    font-size: 35px;
  }
}

/*-- Why choose us --*/
.about-section {
  background-color: var(--bg-grey);
}

span.text-italic {
  font-style: italic;
  font-size: 30px;
  font-family: initial;
  font-weight: 600;
  display: block;
  color: #fff;
}

.w3l-whychooseus .grids_info h4 {
  font-size: 22px;
  line-height: 34px;
  margin-bottom: 10px;
  font-weight: 600;
}

.w3l-whychooseus .grids_info i {
  font-size: 28px;
  color: var(--primary-color);
  margin-top: 8px;
}

@media (max-width:991px) {
  .w3l-whychooseus .grids_info h4 {
    font-size: 22px;
    line-height: 32px;
  }
  .w3l-whychooseus .grids_info i {
    width: 30px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .w3l-whychooseus .grids_info h4 {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (max-width: 480px) {
  .w3l-whychooseus .grids_info i {
    width: 45px;
    text-align: right;
  }
  span.text-italic {
    font-size: 25px;
  }
}

@media (max-width: 375px) {
  span.text-italic {
    font-size: 22px;
  }
}

@media (max-width: 360px) {
  span.text-italic {
    font-size: 20px;
  }
}
/*-- //Why choose us --*/



/*--/owl-slider--*/
/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
 .owl-carousel,
 .owl-carousel .owl-item {
   -webkit-tap-highlight-color: transparent;
   position: relative;
 }
 
 .owl-carousel {
   display: none;
   width: 100%;
 }
 
 .owl-carousel .owl-stage {
   position: relative;
   touch-action: manipulation;
   -moz-backface-visibility: hidden;
 }
 
 .owl-carousel .owl-stage:after {
   content: ".";
   display: block;
   clear: both;
   visibility: hidden;
   line-height: 0;
   height: 0;
 }
 
 .owl-carousel .owl-stage-outer {
   position: relative;
   overflow: hidden;
   -webkit-transform: translate3d(0, 0, 0);
 }
 
 .owl-carousel .owl-item,
 .owl-carousel .owl-wrapper {
   -webkit-backface-visibility: hidden;
   -webkit-transform: translate3d(0, 0, 0);
 }
 
 .owl-carousel .owl-item {
   min-height: 1px;
   float: left;
   -webkit-backface-visibility: hidden;
   -webkit-touch-callout: none;
 }
 
 .owl-carousel .owl-dots.disabled,
 .owl-carousel .owl-nav.disabled {
   display: none;
 }
 
 .no-js .owl-carousel,
 .owl-carousel.owl-loaded {
   display: block;
 }
 
 .owl-carousel .owl-dot,
 .owl-carousel .owl-nav .owl-next,
 .owl-carousel .owl-nav .owl-prev {
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
 }
 
 .owl-carousel .owl-nav button.owl-next,
 .owl-carousel .owl-nav button.owl-prev,
 .owl-carousel button.owl-dot {
   border: none;
 }
 
 .owl-carousel.owl-loading {
   opacity: 0;
   display: block;
 }
 
 .owl-carousel.owl-hidden {
   opacity: 0;
 }
 
 .owl-carousel.owl-refresh .owl-item {
   visibility: hidden;
 }
 
 .owl-carousel.owl-drag .owl-item {
   touch-action: pan-y;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
 }
 
 .owl-carousel.owl-grab {
   cursor: move;
   cursor: -webkit-grab;
   cursor: grab;
 }
 
 .owl-carousel.owl-rtl {
   direction: rtl;
 }
 
 .owl-carousel.owl-rtl .owl-item {
   float: right;
 }
 
 .owl-carousel .animated {
   -webkit-animation-duration: 1s;
   animation-duration: 1s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
 }
 
 .owl-carousel .owl-animated-in {
   z-index: 0;
 }
 
 .owl-carousel .owl-animated-out {
   z-index: 1;
 }
 
 .owl-carousel .fadeOut {
   -webkit-animation-name: fadeOut;
   animation-name: fadeOut;
 }
 
 @-webkit-keyframes fadeOut {
   0% {
     opacity: 1;
   }
 
   100% {
     opacity: 0;
   }
 }
 
 @keyframes fadeOut {
   0% {
     opacity: 1;
   }
 
   100% {
     opacity: 0;
   }
 }
 
 .owl-height {
   transition: height .5s ease-in-out;
 }
 
 .owl-carousel .owl-item .owl-lazy {
   opacity: 0;
   transition: opacity .4s ease;
 }
 
 .owl-carousel .owl-item .owl-lazy:not([src]),
 .owl-carousel .owl-item .owl-lazy[src^=""] {
   max-height: 0;
 }
 
 .owl-carousel .owl-item img.owl-lazy {
   transform-style: preserve-3d;
 }
 
 .owl-carousel .owl-video-wrapper {
   position: relative;
   height: 100%;
   background: #000;
 }
 
 .owl-carousel .owl-video-play-icon {
   position: absolute;
   height: 80px;
   width: 80px;
   left: 50%;
   top: 50%;
   margin-left: -40px;
   margin-top: -40px;
   background: url(owl.video.play.png) no-repeat;
   cursor: pointer;
   z-index: 1;
   -webkit-backface-visibility: hidden;
   transition: transform .1s ease;
 }
 
 .owl-carousel .owl-video-play-icon:hover {
   transform: scale(1.3, 1.3);
 }
 
 .owl-carousel .owl-video-playing .owl-video-play-icon,
 .owl-carousel .owl-video-playing .owl-video-tn {
   display: none;
 }
 
 .owl-carousel .owl-video-tn {
   opacity: 0;
   height: 100%;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: contain;
   transition: opacity .4s ease;
 }
 
 .owl-carousel .owl-video-frame {
   position: relative;
   z-index: 1;
   height: 100%;
   width: 100%;
 }
 
 @media (max-width: 992px) {}
 
 @media (max-width: 568px) {
 
   .owl-carousel .owl-dots.disabled,
   .owl-carousel .owl-nav.disabled {
     display: none;
   }
 }
 
 /**
     * Owl Carousel v2.3.4
     * Copyright 2013-2018 David Deutsch
     * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
     */
 .owl-theme .owl-dots,
 .owl-theme .owl-nav {
   text-align: center;
   -webkit-tap-highlight-color: transparent;
 }
 
 .owl-theme .owl-nav {
   display: none;
 }
 
 .owl-dots {
   margin-top: 0px;
   position: absolute;
   right: 0;
   margin: auto;
   text-align: center;
   bottom: 40px;
   background: none;
 }

 .w3l-testimonials .owl-dots {
   margin-top: 0;
   position: absolute;
   left: 0;
   right: 0;
   bottom: -30px;
   background: none;
   display: block;
 }
 
 .owl-theme .owl-nav [class*=owl-] {
   color: #fff;
   font-size: 20px;
   margin: 0px;
   width: 50px;
   background: rgba(255, 255, 255, 0.21);
   display: inline-block;
   cursor: pointer;
   transition: 0.3s ease-in-out;
   height: 50px;
   line-height: 15px;
   border-radius: var(--border-radius);
 }
 
 .owl-theme .owl-nav [class*=owl-]:hover {
   background: #fff;
   opacity: 1;
   color: var(--primary-color);
   text-decoration: none;
   outline: none;
   box-shadow: none;
   transition: 0.3s ease-in-out;
 }
 
 .owl-theme .owl-nav [class*=owl-]:focus,
 .owl-theme:focus,
 .owl-dots:focus,
 .owl-dot:focus {
   outline: none;
   box-shadow: none;
 }
 
 .owl-theme .owl-nav .disabled {
   opacity: .5;
   cursor: default;
 }
 
 /* .owl-theme .owl-nav.disabled+.owl-dots {
   margin-top: 30px;
 } */
 
 .owl-theme .owl-dots .owl-dot {
   display: block;
   zoom: 1;
   background: transparent;
 }
 
 .w3l-clients .owl-theme .owl-dots {
   margin-top: 0px;
   position: absolute;
   bottom: 0;
   top:0;
   background: none;
   text-align: center;
 }
 
 .owl-theme .owl-dots .owl-dot span {
   width: 12px;
   height: 12px;
   margin: 5px 1px;
   background: #fff;
   display: block;
   -webkit-backface-visibility: visible;
   transition: opacity .2s ease;
   position: relative;
   border-radius: 50%;
 }
 
 .w3l-clients .owl-theme .owl-dots .owl-dot span {
   width: 10px;
   height: 10px;
   margin: 5px 1px;
   background: var(--font-color);
   opacity: .5;
   display: block;
   -webkit-backface-visibility: visible;
   transition: opacity .2s ease;
   position: relative;
   border-radius: 50%;
 }
 
 button.owl-next,
 button.owl-prev {
   position: absolute;
   bottom: 50%;
 }
 
 button.owl-prev {
   left: 60px;
 }
 
 button.owl-next {
   left: 60px;
   bottom: 40%;
 }
 
 .owl-theme .owl-dots .owl-dot.active span,
 .owl-theme .owl-dots .owl-dot:hover span {
   background: var(--primary-color);
   opacity: 1;
 }
 
 .owl-theme .owl-dots .owl-dot.active span {
   background: var(--primary-color);
   height: 50px;
   border-radius: 6px;
   transition: height 0.05s;
 }

 
 @media (max-width:667px) {}
  
  .w3l-clients{
    background-color: var(--bg-grey);
  }
 
 .w3-testimonial-content-top {
   text-align: left;
 }
 
 .w3l-clients .testimonial-content {
   display: grid;
   grid-template-columns: 1fr auto;
   grid-gap: 60px;
   align-items: center;
   margin: 0 auto;
   max-width: 950px;
   position: relative;
 }
 
 .w3l-clients .test-img {
   margin: 0 auto;
 }
 
 .w3l-clients .testi-des {
   display: flex;
   padding-top: 20px;
   align-items: center;
 }
 
 .w3l-clients blockquote q {
   font-size: 20px;
   font-weight: 500;
   color: var(--font-color);
   line-height: 34px;
   font-family: 'Montserrat', sans-serif;
 }
 
 .w3l-clients blockquote q:before {
   display: none;
 }
 
 .w3l-clients .test-img {
   width: 200px;
   height: 200px;
   display: inline-block;
   overflow: hidden;
   background: var(--bg-color);
   border-radius: 50%;
 
 }
 
 .w3l-clients .testimonial img {
   width: 100%;
   min-height: 100%;
   -o-object-fit: cover;
   object-fit: cover;
   -o-object-position: center;
   object-position: center;
 }
 
 .w3l-clients .testimonial-content i {
   color: var(--primary-color);
   font-size: 20px;
   width: 46px;
   height: 46px;
   position: absolute;
   line-height: 46px;
   right: 39%;
   left: 0px;
   background: var(--bg-color);
   border-radius: 50%;
   top: 1%;
   margin: 0 auto;
 }
  
 .w3l-clients .testimonial .peopl h3 {
   margin: 0;
   font-weight: 600;
   font-size: 22px;
   color: var(--heading-color);
 }
 
 .w3l-clients p.indentity {
   font-size: 18px;
   text-align: left;
   margin-top: 5px;
 }
 
 
 .w3l-clients .owl-theme .owl-nav {
   display: none;
 }
 
 
 @media (max-width: 991px) {
   .w3l-clients .testimonial-content {
     grid-gap: 40px;
     margin-right: 50px;
   }
   .w3l-clients blockquote q {
     font-size: 18px;
     line-height: 30px;
   }
 }
 @media (max-width: 736px) {
   .w3l-clients .testimonial-content {
     display: inherit;
   }
   .w3l-clients .test-img {
       width: 120px;
       height: 120px;
       margin-bottom: 20px;
   }
   .w3l-clients .owl-theme .owl-dots {
     bottom: 40%;
     top:inherit;
   }
   .w3l-clients .testimonial .peopl h3 {
     font-size: 20px;
   }
   .w3l-clients p.indentity {
     font-size: 17px;
   }
 }
 
 @media (max-width: 600px) {
   #clients .images img {
     padding: 20px 5px;
   }
 
   .w3l-clients .testimonial-content i {
     right: 32%;
     left: 0px;
     border-radius: 50%;
     top: 1%;
     margin: 0 auto;
   }
 
   .w3l-clients blockquote q {
     font-size: 19px;
 
     line-height: 29px;
   }
   .w3l-clients .testimonial .peopl h3 {
     font-size: 19px;
   }
   .w3l-clients p.indentity {
     font-size: 16px;
   }
 }
 
 @media (max-width: 415px) {
   #clients .images {
     grid-template-columns: 1fr 1fr;
   }
 
   .w3l-clients blockquote q {
     font-size: 16px;
   }
 }
 
 /*--//testimonials--*/
 


/* call block */
.w3l-call-to-action-6 {
  background: var(--primary-color);
}


.w3l-call-to-action-6 .buttons li {
  list-style: none;
  display: inline-block;
}

.w3l-call-to-action-6 .buttons li.green {
  margin: 0 20px;
}

.w3l-call-to-action-6 .buttons li.phone-sec a.call-style-w3 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.w3l-call-to-action-6 .buttons li.phone-sec a.call-style-w3:hover {
  color: #222;
}

.buttons li.phone-sec i {
  font-size: 38px;
  color: #fff;
  transform: rotate(-26deg);
}

@media (max-width: 992px) {
  .w3l-call-to-action-6 .buttons li {
    display: block;
  }
}

@media (max-width: 567px) {
  .w3l-call-to-action-6 .buttons li.phone-sec a.call-style-w3 {
    font-size: 18px;
  }

  li.phone-sec span {
    font-size: 28px;
  }
}

/* //call block */

/* footer block */
.w3l-footer-29-main {
  background: var(--black-color);
  background-image: url('../images/Logo5.png');
              background-size: 40em;
            background-position: center center;
            background-repeat: no-repeat;
}

.w3l-footer-29-main img.footer-title-29{
  max-height: 60px;
}

.w3l-footer-29-main h6.footer-title-29 {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 24px;
  font-weight: 600;
  color: #fff;
}

.w3l-footer-29-main .footer-list-29 ul li {
  list-style: none;
  margin-bottom: 10px;
}

.w3l-footer-29-main .footer-list-29 ul li:last-child {
  margin-bottom: 0px;
}

.w3l-footer-29-main .footer-list-29 ul li a,
.w3l-footer-29-main .footer-list-29 p a,
.w3l-footer-29-main .footer-list-29 p,
.w3l-footer-29-main .footer-list-29 img {
  font-size: 16px;
  font-weight: 400;
  color: #ababab;
  padding-bottom: 4px;
}

.w3l-footer-29-main .footer-list-29 p{
  line-height: 20px;
}

.w3l-footer-29-main .footer-list-29 ul li a {
  display: block;
  font-family: 'Montserrat', sans-serif;
}

.w3l-footer-29-main .footer-list-29 ul li a:hover,
.w3l-footer-29-main .footer-list-29 p a:hover {
  color: #fff;
}

.w3l-footer-29-main .footer-list-29 ul li:last-child a,
.w3l-footer-29-main .footer-list-29 p {
  border-bottom: none;
}

p.copy-footer-29 {
  font-size: 16px;
  color: #ababab;
  border-top: 1px solid #363636;
  padding-top: 35px;
}

p.copy-footer-29 a {
  color: #eee;
}

p.copy-footer-29 a:hover {
  color: var(--primary-color);
}

.w3l-footer-29-main input[type="email"] {
  background: var(--bg-grey);
  border: none;
  padding: 16px 20px;
  font-size: 15px;
  outline: none;
  width: 80%;
  color: var(--heading-color);
  border-radius: 4px 0 0 4px;
}

.w3l-footer-29-main button {
  border: none;
  outline: none;
  font-size: 16px;
  padding: 16px 12px;
  cursor: pointer;
  width: 20%;
  color: #fff;
  background: var(--primary-color);
  border-radius: 0 4px 4px 0;
}

@media (max-width: 991px) {
  .w3l-footer-29-main h6.footer-title-29 {
    margin-bottom: 20px;
    font-size: 20px;
  }
}

@media (max-width: 415px) {

  .w3l-footer-29-main .footer-list-29 ul li,
  .w3l-footer-29-main .midd-footer-29:nth-child(1) .footer-list-29 ul li:last-child {
    margin-bottom: 8px;
  }

  .col-4.footer-list-29 {
    flex: 0 0 auto;
    width: 100%;
  }

  .w3l-footer-29-main h6.footer-title-29 {
    margin-bottom: 10px;
  }
}

/* //footer block */

/* movetop styling */
#movetop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  width: 50px;
  height: 50px;
  background: var(--green-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  padding: 0;
  filter: drop-shadow(3px 3px 12px rgb( 0, 0, 0, 0.2));
}

#movetop:hover {
  opacity: .8;
}

/* //movetop styling */


/*-- About Page Styling --*/
.breadcrumb-bg-about {
  background: url(../images/banner2.webp) no-repeat 0px 0px;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.breadcrumb-bg-about:before {
  content: "";
  background: rgba(0, 0, 0, 0.71);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

p.inner-page-para {
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  opacity: 0.7;
}

p.inner-page-para a{
  color: #fff;
}

p.inner-page-para a:hover{
  color: var(--red-color);
}

@media (max-width: 485px) {
  p.inner-page-para {
    font-size: 17px;
    line-height: 28px;
  }
}

@media (max-width: 1440px) {
  .w3l-content-6 .counter-6-inf-left h4 {
    line-height: 70px;
    font-size: 50px;
    width: 60%;
  }
}

.w3l-content-6 .grids_info h4 {
  font-size: 22px;
  line-height: 34px;
  margin-bottom: 10px;
  font-weight: 600;
}

.w3l-content-6 .grids_info i{
  font-size: 28px;
  color: var(--primary-color);
  margin-top: 4px;
} 

@media (max-width: 1440px) {
  .w3l-content-6 .counter-6-inf-left h4 {
    line-height: 70px;
    font-size: 50px;
    width: 60%;
  }
}

@media (max-width: 991px) {
  .w3l-content-6 .content-gd:nth-child(2) {
    margin: 40px 0 0 0;
  }
  .w3l-content-6 .grids_info h4 {
    font-size: 22px;
    line-height: 32px;
  }
  .w3l-content-6 .grids_info i {
    width: 30px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .w3l-content-6 .grids_info h4 {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (max-width: 668px) {
  .w3l-content-6 .content-6-mian h4 {
    font-size: 20px;
  }

  .w3l-content-6 .content-6-mian h4 span {
    font-size: 30px;
    line-height: 40px;
  }
  .w3l-content-6 h6.progress-tittle {
    font-size: 16px;
  }
}

@media (max-width: 568px) {
  .w3l-content-6 .content-6-mian h4 span {
    font-size: 26px;
    line-height: 26px;
  }
}

@media (max-width : 480px){
  .w3l-content-6 .grids_info i {
    width: 45px;
    text-align: right;
  }
}

/* About section 2 */

.w3l-cwp {
  background: var(--bg-grey);
}

.w3l-cwp .d-grid {
  display: grid;
}

.w3l-cwp .column span {
  color: var(--primary-color);
  font-size: 35px;
  display: inline-block;
  margin-bottom: 15px;
}

.w3l-cwp .cwp23-text-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 50px;
  grid-column-gap: 40px;
}

.w3l-cwp .cwp23-text-cols h4 {
  margin-bottom: 12px;
  font-size: 22px;
  line-height: 28px;
  color: var(--heading-color);
  font-weight: 600;
  transition: 0.3s ease-in;
}

@media all and (max-width: 1080px) {
  .w3l-cwp .cwp23-text-cols {
    grid-row-gap: 40px;
    grid-column-gap: 40px;
  }
}

@media all and (max-width: 900px) {
  .w3l-cwp .cwp23-text-cols {
    grid-gap: 30px;
  }
}

@media all and (max-width: 440px) {
  .w3l-cwp .cwp23-title h3 {
    margin-bottom: 30px;
  }

  .w3l-cwp .cwp23-text-cols {
    grid-gap: 25px;
  }
}

@media all and (max-width: 480px) {
  .w3l-cwp .cwp23-text-cols {
    grid-template-columns: 1fr;
  }
}

@media all and (max-width: 415px) {
  .w3l-cwp .column span {
    font-size: 32px;
    margin-bottom: 5px;
  }

  .w3l-cwp .cwp23-text-cols h4 {
    margin-bottom: 10px;
    font-size: 20px;
  }
}

@media all and (max-width: 360px) {
  .w3l-cwp .cwp23-text-cols h4 {
    font-size: 18px;
  }
}

/* About section 2 */

/* serviceblock2 section */
.service-section .item{
  margin-bottom: 2rem;
}

.service-section .card {
  border: none;
  background: var(--bg-grey);
  /* background: red; */
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.04);
  transition: all 500ms;
}

.service-section .card:hover {
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.2);
}

.service-section .card img {
  border-radius: 6px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  max-width: 100%;
  display: block;
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.service-section .card .card-icon {
  /* display: inline-block; */
  position: relative;
  bottom: 30px;
  left: 13em;
  font-size: 20px;
  border: none;
  outline: none;
  color: #fff;
  width: 50px;
  height: 50px;
  background: var(--green-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  text-align: center;
  padding: 0.5em 0.4em;
}

.service-heading {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: var(--heading-color);
}

.service-details {
  margin-top: -30px;
  padding: 15px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.service-details p a{
  font-size: 14px;
  font-weight: 600;
  color: var(--black-color);
  text-decoration: none;
  cursor: pointer;
  transition: all 500ms;
}

@media screen and (max-width: 576px) {
  .service-heading {
    font-size: 18px;
    line-height: 28px;
  }

  .service-section .card .card-icon {
    left: 15em;
  }

  .service-section .item {
    margin-bottom: 1rem;
  }

  .service-section .card img {
    height: 200px;
  }
}

@media screen and (max-width: 410px) {
  .service-section .card .card-icon {
    left: 13em;
  }
}

/* //serviceblock2 section */


/* service discription */
.discript-sec .list-group{
  width: 25%;
}

.discript-sec .list-group button{
  border-radius: 0px;
  border: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  line-height: 20px;
  color: var(--black-color);
  background-color: rgba(0, 0, 0, .05);
  font-weight: 600;
  transition: all 100ms;
  margin-bottom: 15px;
}

.discript-sec .list-group .activeb{
  color: var(--red-color);
}

.discript-sec .list-group button:hover{
  background-color: var(--green-color);
  color: white;
}

.discript-sec .list-group button i{
  color: var(--black-color);
}

.disc-sec{
  width: 70%;
}

.disc-sec img{
  max-width: 100%;
  height: auto;
}

.disc-sec h2{
  font-weight: 600;
}

@media screen and (max-width: 568px){

  .discript-sec{
    padding-right: 1em;
    padding-left: 1em;
  }

  .discript-sec .list-group{
    width: 100%;
  }

  .disc-sec{
    width: 100%;
  }
  
  .disc-sec img{
    max-width: 100%;
    margin-top: 1em;
  }

  .disc-sec p{
    margin-top: 1em;
  }
}

/* service discription */


/* contact section */
.w3l-contacts-12 .cont-main-top {
  grid-template-columns: 2fr 1fr;
  grid-gap: 40px;
}

.w3l-contacts-12 .top-inputs {
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 1.5rem;
}

.w3l-contacts-12 form.main-input input,
.w3l-contacts-12 textarea {
  color: var(--font-color);
  font-size: 16px;
  line-height: 28px;
  padding: 15px 20px;
  outline: none;
  border: 1px solid var(--border-color-light);
  border-radius: 6px;
  width: 100%;
  background: var(--bg-grey);
}

.w3l-contacts-12 form.main-input input:focus,
.w3l-contacts-12 textarea:focus {
  border: 1px solid var(--border-color-light);
  background: var(--bg-color);
}

.w3l-contacts-12 textarea {
  min-height: 140px;
  margin: 1.5rem 0;
}

.w3l-contacts-12 button{
  font-family: 'Poppins', sans-serif;
}

.w3l-contacts-12 .cont-add h4,
.w3l-contacts-12 .social-icons-con h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.w3l-contacts-12 .cont-add {
  margin-bottom: 1.5em;
}

.w3l-contacts-12 .cont-add p:hover {
  color: var(--heading-color);
}

.w3l-contacts-12 .social-icons-con a span {
  font-size: 23px;
  margin: 0 5px;
}

.w3l-contacts-12 .social-icons-con a span.fa-facebook-square {
  color: #3b5998;
}

.w3l-contacts-12 .social-icons-con a span.fa-twitter-square {
  color: #00acee;
}

.w3l-contacts-12 .social-icons-con a span.fa-linkedin-in {
  color: #0077b5;
}

.w3l-contacts-12 .social-icons-con a span.fa-instagram {
  color: #e1306c;
}

.w3l-contacts-12 .map {
  padding-top: 80px;
}

.w3l-contacts-12 .map iframe {
  width: 100%;
  height: 400px;
  display: block;
  filter: var(--iframe-filter);
}

@media screen and (max-width: 768px) {
  .w3l-contacts-12 .cont-main-top {
    grid-template-columns: 1fr;
  }

  .w3l-contacts-12 .cont-subs {
    border-top: 1px solid #ddd;
    padding: 2em 0 0;
    border-left: none;
  }

  .w3l-contacts-12 .social-icons-con {
    margin-top: 1.5em;
  }

  .w3l-contacts-12 .map {
    padding-top: 60px;
  }
}

@media screen and (max-width: 600px) {
  .w3l-contacts-12 .map iframe {
    height: 300px;
  }
  .w3l-contacts-12 .top-inputs {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 415px) {
  .w3l-contacts-12 .top-inputs {
    grid-template-columns: 1fr;
    grid-gap: 15px;
    margin-bottom: 1rem;
  }

  .w3l-contacts-12 textarea {
    margin: 1rem 0 1.5rem;
  }

  .w3l-contacts-12 .map {
    padding-top: 40px;
  }
  .w3l-contacts-12 .cont-add h4, .w3l-contacts-12 .social-icons-con h4 {
    font-size: 17px;
  }

}

@media screen and (max-width: 384px) {
  .w3l-contacts-12 .line {
    margin: 3em 0;
  }
}

/* //contact section */


/* appointment section */
.w3l-apooint-12 input,
.w3l-apooint-12 textarea{
  color: var(--font-color);
  font-size: 16px;
  line-height: 28px;
  padding: 15px 20px;
  outline: none;
  border: 1px solid var(--border-color-light);
  border-radius: 6px;
  width: 100%;
  background: var(--bg-grey);
}

.w3l-apooint-12 input:focus{
border: 1px solid var(--border-color-light);
background: var(--bg-color);
}

.w3l-apooint-12 select{
  color: var(--font-color);
  font-size: 16px;
  line-height: 28px;
  padding: 15px 20px;
  outline: none;
  border: 1px solid var(--border-color-light);
  border-radius: 6px;
  width: 100%;
}

.w3l-apooint-12 select:focus{
outline: none;
border: 1px solid var(--border-color-light);
cursor: pointer;
}

.w3l-apooint-12 select option{
  font-weight: 500;
  color: var(--font-color);
}

.w3l-apooint-12 .submit-button{
text-align: center;
}



@media screen and (min-width:767px){
  .w3l-apooint-12 label{
    display: none;
  }
}

/* //appointment section */
